
.wrap {
  background: none;
  box-shadow: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;

  &:last-child {
    border-bottom: none;
    .panel-body {
      
    }
    .panel-heading {
      transition: border-radius 0.3s linear 0.2s;
      .active {
        border-radius: 0;
        transition: border-radius linear 0s;
      }
    }
  }
}


.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
  a:before {
    content: '\e146';
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    font-size: 24px;
    transition: all 0.5s;
    transform: scale(1);
  }
}

.panel-title a {
  display: block;
  padding: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.panel-body {
  background: #fff;
}



