$table-th-bgcolor: #4a5e6c;
$table-th-color: #f5f5f5;

.table {
  &.table-live-views {
    border: 1px solid #6E8CA1;
    th {
      background: $table-th-bgcolor;
      color: $table-th-color;
      border: 1px solid #6E8CA1;
      font-weight: 100;
      padding: 10px 5px;
      position:relative;
      &.info {
        background: #6E8CA1;

      }
    }

    .filter {
      position:absolute;
      right:5px;
      top:30%;
      color: $table-th-color;
      z-index: 3;
    }

    .filter-wrapper {
      position:absolute;
      top:100%;

      z-index: 4;
      min-width: 250px;
      &.filter-active {
        display: block;
      }
    }

    th:last-of-type {
      .filter-wrapper {
        left:0 !important;
      }
    }



    td {

    }

    tfoot {
      border: 1px solid #6E8CA1;
    }

  }
}

.live-views-badge {
  padding: 10px;
  color: #f5f5f5;
  background: #e82c0c;
  margin-bottom: 5px;
  width:auto;
  position:relative;

  .live-views-close {

    border-radius: 50%;
    display:block;
    background: $table-th-color;
    border: 1px solid #ccc;
    padding:0 6px;
    position:absolute;
    right: 10px;
    top: 20%;
    font-weight: bold;
    text-decoration: none;

  }
}