// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');


body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: #f5f5f5;
}

table {
  font-size: 14px;
}

[v-cloak] {
  display: none;
}

.page-wrapper {
  padding: 15px;
}

.has-small-padding {
  padding: 10px;
}

//button group
.sr-menu-button {
  width: 100%;
  float:left;
  a.sr-menu {
    display: block;
    float:left;
    width: 25%;
    text-align: center;
    color: gray;
    text-decoration: none;
    margin: 20px auto;
  }
  &.after {
    display: table;
    clear: both;
    content: '';
  }

}


@import 'parts/sidebar';

@import 'parts/xpanel';

@import 'parts/form';

@import 'parts/buttons';

@import 'parts/helper';

@import 'parts/accordion';

@import "parts/table";

@import "node_modules/toastr/toastr.scss";

